@import "../../index.scss";

.hamburger-menu {
	position: absolute;
	top: 2rem;
	left: 0;

	.hamburger-icon-wrapper {
		position: relative;
		width: 4rem;
		height: 4rem;
		padding: 0.5rem;
		cursor: pointer;

		.hamburger-icon {
			position: absolute;
			top: 0.5rem;
			left: 0.5rem;
			color: $accent-color;
			font-size: 2rem;
			transition: transform 0.3s ease;
		}

		.line {
			display: block;
			width: 2rem;
			height: 3px;
			margin: 7px 0;
			border-radius: 2px;
			background: $accent-color;
			transition: all 0.3s ease;

			@media screen and (max-width: $breakpoint-mobile) {
				width: 1.8rem;
				margin: 6px 0;
			}

			&.open {
				&:nth-child(1) {
					transform: rotate(-45deg) translate(-10px, 4px);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: rotate(45deg) translate(-10px, -4px);
				}

				@media screen and (max-width: $breakpoint-mobile) {
					&:nth-child(1) {
						transform: rotate(-45deg) translate(-9px, 3px);
					}

					&:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(3) {
						transform: rotate(45deg) translate(-10px, -4px);
					}
				}
			}
		}
	}

	// Styling HamburgerMenu-ikon
	button {
		background: none;
		border: none;
		cursor: pointer;
	}

	ul {
		width: 10rem;
		height: auto;
		border-radius: 0.5rem;
		background: $primary-color;
		position: absolute;
		top: 100%;
		left: 0;
		font-size: 1.3rem;
		font-weight: 100;
		list-style: none;
		padding: 3rem 1rem 2rem 1rem;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
		opacity: 0;
		transform: translateY(-20px);
		transition: opacity 0.3s ease, transform 0.3s ease;

		&.visible {
			opacity: 1;
			transform: translateY(0);
		}

		@media screen and (max-width: $breakpoint-mobile) {
			width: 9rem;
			font-size: 1.1rem;
			padding: 2rem 1rem 1rem 1rem;
		}

		li {
			margin-bottom: 2rem;

			@media screen and (max-width: $breakpoint-mobile) {
				margin-bottom: 1.7rem;
			}

			a {
				text-decoration: none;
				color: $secondary-color;
				text-transform: lowercase;
				padding-left: 1rem;

				&.clicked {
					color: $accent-color;
				}
			}
		}
	}
}
