@import "../../index.scss";

.about-page {
	width: clamp(48rem, 85vw, 62.5rem);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 11rem;

	@media screen and (max-width: $breakpoint-tablet) {
		width: clamp(18rem, 70vw, 26rem);
		padding-top: 6rem;
	}

	h2 {
		@media screen and (max-width: $breakpoint-small-desktop) {
			margin-bottom: clamp(1rem, 1vh, 1.5rem);
		}

		@media screen and (max-width: $breakpoint-tablet) {
			width: clamp(18rem, 70vw, 26rem);
		}
	}

	&__fullwidth {
		margin: 2rem 0;

		@media screen and (max-width: $breakpoint-small-desktop) {
			margin: 1rem 0;
		}

		@media screen and (max-width: $breakpoint-tablet) {
			width: clamp(18rem, 70vw, 26rem);
			display: flex;
			flex-direction: column;
		}

		@media screen and (max-width: $breakpoint-mobile) {
			margin: 0 auto;
			margin-bottom: 1rem;
		}

		@include between($breakpoint-tablet, $breakpoint-small-desktop) {
		}

		&--last {
			margin-bottom: 5rem;

			@media screen and (max-width: $breakpoint-tablet) {
				margin-bottom: 3rem;
			}

			@media screen and (max-width: $breakpoint-mobile) {
				margin-bottom: 0;
			}
		}

		&__storytelling,
		&__solutions {
			@include between($breakpoint-tablet, $breakpoint-small-desktop) {
				margin-bottom: 3rem;
			}

			@media screen and (max-width: $breakpoint-mobile) {
				margin-bottom: 2.5rem;
			}
		}
	}

	&__photographer-section {
		display: flex;
		justify-content: space-between;
		width: clamp(48rem, 85vw, 62.5rem);

		@media screen and (max-width: $breakpoint-small-desktop) {
			padding-top: 1.5rem;
			align-items: flex-start;
		}

		@media screen and (max-width: $breakpoint-tablet) {
			flex-direction: column;
			width: clamp(18rem, 70vw, 26rem);
		}

		@include between($breakpoint-tablet, $breakpoint-small-desktop) {
			padding-bottom: 3rem;
		}

		&--text {
			width: 28rem;

			@media screen and (max-width: $breakpoint-small-desktop) {
				width: 27rem;
			}

			@media screen and (max-width: $breakpoint-tablet) {
				width: clamp(18rem, 70vw, 26rem);
			}
		}

		&--img {
			display: flex;
			justify-content: center;
			align-items: center;

			@media screen and (max-width: $breakpoint-small-desktop) {
				align-items: flex-start;
			}

			.about-interior-img {
				width: 30rem;

				@media screen and (max-width: $breakpoint-small-desktop) {
					width: 23rem;
				}

				@media screen and (max-width: $breakpoint-tablet) {
					width: clamp(18rem, 70vw, 26rem);
					margin-bottom: 2rem;
				}

				@media screen and (max-width: $breakpoint-mobile) {
					padding-bottom: 1rem;
				}
			}
		}
	}

	&__designer-developer-section {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 2.5rem;
		width: clamp(48rem, 85vw, 62.5rem);

		@media screen and (max-width: $breakpoint-tablet) {
			grid-template-columns: 1fr;
			width: clamp(18rem, 70vw, 26rem);
		}

		@media screen and (max-width: $breakpoint-mobile) {
			gap: 1rem;
		}

		&--text {
			@media screen and (max-width: $breakpoint-tablet) {
				order: 2;
			}
		}

		&--img {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			@media screen and (max-width: $breakpoint-tablet) {
				order: 1;
			}

			.me-circle {
				width: 85%;

				@media screen and (max-width: $breakpoint-small-desktop) {
					width: 100%;
					padding-bottom: 2rem;
				}

				@media screen and (max-width: $breakpoint-tablet) {
					width: 70%;
				}

				@media screen and (max-width: $breakpoint-mobile) {
					padding-bottom: 1rem;
				}
			}
		}
	}

	&__globe-icon {
		margin: 0 auto;
		width: clamp(5rem, 10vw, 7rem);
		height: auto;
		margin-top: 1rem;
		margin-bottom: 4rem;

		@media screen and (max-width: $breakpoint-small-desktop) {
			margin-top: 0rem;
			margin-bottom: 4rem;
		}

		@media screen and (max-width: $breakpoint-tablet) {
			margin-top: 1rem;
		}
	}

	&__btn-row {
		width: clamp(48rem, 85vw, 62.5rem);
		margin: 0 auto;
		display: flex;
		justify-content: center;
		gap: clamp(1rem, 2vw, 1.5rem);
		margin-top: 1rem;
		margin-bottom: clamp(8rem, 15vh, 13rem);

		@media screen and (max-width: $breakpoint-tablet) {
			width: 18rem;
			flex-wrap: wrap;
		}

		@media screen and (max-width: $breakpoint-mobile) {
			margin-top: 3rem;
		}

		.btn--connect {
			@media screen and (max-width: $breakpoint-tablet) {
				background-color: $secondary-color;
			}
		}
	}
}

.read-more-section {
	max-height: 50rem;
	transition: max-height 2s ease-in-out;

	@include between($breakpoint-tablet, $breakpoint-small-desktop) {
		margin-bottom: 2rem;
	}
}

.hidden {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}

.read-more {
	font-weight: 500;
	line-height: 2.5rem;
	letter-spacing: 0.15rem;
	color: $accent-color;
	cursor: pointer;

	@media screen and (max-width: $breakpoint-mobile) {
		font-size: 0.7rem;
	}
}
