// styling/projectStyling/CircusProject.scss
@import "../../index.scss";

.project-circus {
	padding-bottom: 3rem;

	&__container {
		position: relative;
		background-image: url("../../assets/img/circus-project.png");
		background-size: cover;
		height: 44.5rem;
		width: 100%;

		&__text {
			position: absolute;
			bottom: 3.5rem;
			left: 50%;
			transform: translateX(-50%);
			text-shadow: 2px 2px 4px $primary-color;
			text-align: justify;
			width: 80%;

			h2 {
				text-align: center;
			}
		}
	}

	&__btn-container {
		width: 62.5rem;
		display: flex;
		justify-content: space-between;

		&__icons {
			display: flex;
			gap: 1rem;
		}
	}
}
