// styling/projects/StickansProject.scss
@import "../../index.scss";

.project-stickans {
	width: 87.5rem;
	background-color: $secondary-color;
	color: $primary-color;

	@media screen and (max-width: $breakpoint-mobile) {
		width: 29.25rem;
		padding: 2rem 0;
	}

	&__wrapper {
		width: 62.5rem;
		margin: 0 auto;
		padding: 10rem 0;

		@media screen and (max-width: $breakpoint-mobile) {
			width: 22rem;
			padding: 2rem 0;
		}
	}

	&__container {
		display: flex;

		@media screen and (max-width: $breakpoint-mobile) {
			flex-direction: column;
			margin: 0 auto;
			width: 18rem;
		}

		&__img {
			width: 25rem;
			height: auto;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			@media screen and (max-width: $breakpoint-mobile) {
				width: 18rem;
				justify-content: center;
				padding-bottom: 1rem;
			}

			img {
				width: 20rem;
				height: auto;

				@media screen and (max-width: $breakpoint-mobile) {
					width: 10rem;
				}
			}
		}

		&__info {
			width: 37.5rem;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@media screen and (max-width: $breakpoint-mobile) {
				width: 18rem;
				padding-bottom: 1rem;
			}

			&__p {
				margin-bottom: 3rem;
			}

			h2 {
				margin-bottom: 2rem;
			}

			&__btns {
				width: 37.5rem;
				display: flex;
				justify-content: space-between;
				margin-bottom: 2rem;

				@media screen and (max-width: $breakpoint-mobile) {
					width: 18rem;
					margin-bottom: 1rem;
				}

				img {
					@media screen and (max-width: $breakpoint-mobile) {
						width: 2.3rem;
						height: 2.3rem;
					}
				}
			}
		}
	}

	.up-btn-container {
		position: absolute;
		bottom: 5rem;
		right: 2rem;
	}
}
