// WIDHTS
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-small-desktop: 1024px;
$breakpoint-medium-desktop: 1200px;
$breakpoint-large-desktop: 1400px;

@mixin between($min, $max) {
	@media screen and (min-width: $min) and (max-width: $max) {
		@content;
	}
}

// HEIGHTS
$breakpoint-small-mobile: 720px;

// COLORS
$primary-color: #212121;
$primary-color--light: #474747;
$secondary-color: #ffffff;
$accent-color: #d79169;
$accent-color--dark: #cd7644;
$accent-color--light: #f0cbb0;
$background-color: #2b2b2b;
